#!/bin/bash
# vim: set ft=sh
#
# This script is run once by chezmoi to install essential packages.

set -eufo pipefail

{{ if eq .chezmoi.os "linux-debian" "linux-ubuntu" "linux" -}}
echo "Installing packages with apt..."
sudo apt update
sudo apt install -y \
    build-essential \
    fish \
    tmux \
    ripgrep \
    fd-find

curl -LsSf https://astral.sh/uv/install.sh | sh
uv tool install --upgrade pynvim
curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
curl -sS https://starship.rs/install.sh | sh -s -- -b ~/.local/bin

sudo snap install chezmoi --classic
sudo snap install nvim --edge --classic
sudo snap install obsidian --classic

sudo apt autoremove


if ! grep -q "microsoft" /proc/version 2>/dev/null; then
    echo "Not running under WSL, performing additional setup..."
    # Add any non-WSL specific setup here
    sudo apt install -y \
	sway \
	waybar \
	wofi
else
    echo "Running under WSL, skipping non-WSL specific setup..."
fi
{{ else -}}
echo "Unsupported OS: {{ .chezmoi.os }}"
exit 1
{{ end -}}



echo "Package installation complete."
