window {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    background-color: #282828; /* Gruvbox dark background */
    background-image: none; /* Remove gradient for simplicity */
    border-radius: 12px;
    color: #ebdbb2; /* Gruvbox light text color */
}

#input {
    font-size: 14px;
    margin: 16px;
    padding: 8px;
    border-radius: 12px;
    background-color: #3c3836; /* Gruvbox dark gray background */
    color: #ebdbb2; /* Gruvbox light text color */
}

#inner-box {
    margin: 0px 16px 16px 16px;
    background-color: #282828; /* Gruvbox dark background */
}

#scroll label {
    margin: 2px 8px;
    color: #ebdbb2; /* Gruvbox light text color */
}

#entry {
    padding: 2px 8px;
    margin: 2px;
    color: #ebdbb2; /* Gruvbox light text color */
    background-color: #3c3836; /* Gruvbox dark gray background */
}

#entry:selected {
    border-radius: 8px;
    background-color: #458588; /* Gruvbox blue for selected entry */
    color: #ebdbb2; /* Gruvbox light text color */
}

#entry list {
    border-radius: 8px;
    background-color: #282828; /* Gruvbox dark background */
}

#entry image {
    background-color: #282828; /* Gruvbox dark background */
}

