{
  "height": 20,
  "spacing": 10,
  "modules-left": [
    "sway/workspaces",
  ],
  "modules-center": [
    "clock",
  ],
  "modules-right": [
    "custom/connection-check",
    "pulseaudio",
    "bluetooth",
    "network",
    "sway/language",
    "battery",
    "tray"
 ],
  "sway/workspaces": {
    "disable-scroll": true,
    "all-outputs": true,
    "warp-on-scroll": false,
    "format": "{name}: {icon}",
    "format-icons": {
      "1": "",
      "2": "",
      "3": "󱌢",
      "4": "󱌢",
      "5": "󱌢",
      "9": "📧",
      "10": "📓",
      "urgent": "",
      "focused": "",
      "default": ""
    }
  },
  "tray": {
    "spacing": 10
  },
  "clock": {
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    "format-alt": "{:%Y-%m-%d}"
  },
  "battery": {
    "states": {
      "warning": 30,
      "critical": 15
    },
    "format": "{capacity}% {icon}",
    "format-full": "{capacity}% {icon}",
    "format-charging": "{capacity}% 󰢜",
    "format-plugged": "{capacity}% ",
    "format-alt": "{time} {icon}",
    "format-icons": ["", "", "", "", ""]
  },
  "network": {
    "format-wifi": "{essid} ({signalStrength}%) ",
    "format-ethernet": "{ipaddr}/{cidr} 󰈁",
    "tooltip-format": "{ifname} via {gwaddr} ",
    "format-linked": "{ifname} (No IP) ",
    "format-disconnected": "Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}"
  },
  "pulseaudio": {
    "format": "{volume}% {icon} {format_source}",
    "format-bluetooth": "{volume}% {icon} {format_source}",
    "format-bluetooth-muted": " {icon} {format_source}",
    "format-muted": " {format_source}",
    "format-source": "{volume}% ",
    "format-source-muted": "",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", ""]
    },
    "on-click": "pavucontrol"
  },
  "bluetooth": {
    "format": " {status}",
    "format-connected": " {device_alias}",
    "format-connected-battery": " {device_alias} {device_battery_percentage}%",
    "tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
    "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
    "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
    "tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%"
  },
  "custom/connection-check": {
      "format": "{}",
      "exec": "/home/{{ .chezmoi.username }}/.config/waybar/scripts/check-connection.sh",
      "return-type": "json",
      "interval": 10 // Runs the check every 10 seconds
  }
}
