/* Gruvbox Dark Theme */
@define-color gruv-bg0 #282828;
@define-color gruv-bg1 #3c3836;
@define-color gruv-fg0 #ebdbb2;
@define-color gruv-red #cc241d;
@define-color gruv-green #98971a;
@define-color gruv-yellow #d79921;
@define-color gruv-blue #458588;
@define-color gruv-purple #b16286;
@define-color gruv-aqua #689d6a;
@define-color gruv-orange #d65d0e;

* {
    font-family: "{{ .font.monospace }}";
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @gruv-fg0;
}

#workspaces {
}

#workspaces button.active {
    background-color: @gruv-aqua;
    padding: 0 15px 0 15px;
    color: @gruv-bg0;
}

.modules-left {
    padding-left: 20px;
    padding-right: 20px;
}

.modules-right {
    padding-right: 20px;
    padding-left: 0px;
}

.modules-center {
    background-color: @gruv-bg0;
}

#battery {
   padding-right: 20px;
    padding-left: 20px;
    color: @gruv-aqua;
    background-color: @gruv-bg0;
}

#clock {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-green;
}

#network {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-purple;
}

#pulseaudio {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-yellow;
}

#power-profiles-daemon {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-orange;
}

#language {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-orange;
}

#bluetooth {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-orange;
}

#backlight {
    padding-right: 20px;
    padding-left: 20px;
    background-color: @gruv-bg0;
    color: @gruv-orange;
}
