# ~/.config/chezmoi/chezmoi.toml.tmpl

[data]
  name = "Rasmus Ravn"
  email = "YOUR_EMAIL@example.com"

[data.font]
  monospace = "JetBrainsMono Nerd Font"

[edit]
  command = "nvim"
  args = ["-f"]

[template]
  options = ["missingkey=error"]
